# banco de dados
sqlalchemy==2.0.29
pymysql==1.1.0

# criptografia
bcrypt==4.0.1
passlib==1.7.4
python-jose==3.3.0
cryptography==42.0.5

# dataframe
openpyxl==3.1.1
pandas==2.1.1

# requisicoes
python-multipart==0.0.6
requests==2.31.0

# FastAPI
fastapi==0.101.1
pydantic==1.10.4
starlette==0.27.0
uvicorn==0.23.2

# hora local
pytz==2023.3

# textos
unidecode==1.3.8

# variaveis de ambiente local
python-dotenv~=1.0.0

# testes api
httpx==0.26.0
pytest==8.1.1
pytest-html==4.1.1 # pytest tests --html="HTMLPytestReport.html"

#web scraping
selenium==4.20.0
beautifulsoup4==4.12.3

# cobertura de testes:
coverage==7.4.4 # coverage run -m pytest
pytest-cov==5.0.0 # coverage html


# Documentação:
# sphinx==7.3.7
# sphinx-rtd-theme==2.0.0
# mkdocs==1.6.0 # 1º comando: mkdocs new .   2ºcomando: mkdocs server   3ºcomando: mkdocs build    4ºcomando: mkdocs gh-deploy
# mkdocs-material==9.5.18
# mkdocstrings==0.24.3
# mkdocstrings-python==1.10.0
# pymdown-extensions
